/* 1,3,4,6,8,9,10,11,13,15,16,18,19,20,21,22,23,24,27,28,31,36 */
.container{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    grid-gap: 5px;
    height: 400px;
    width: 400px;
    /* margin-top: 200px; */
    background-color: blue;
}
.container:hover{
  background-color: green;
}
.container div:nth-child(1){
  background-color: red;
  width: 100%;
}
.container div:nth-child(2){
  background-color: red;
  width: 100%;
}
.container div:nth-child(3){
  background-color: red;
  width: 100%;
}
.container div:nth-child(4){
  background-color: red;
  width: 100%;
}
.container div:nth-child(5){
  background-color: red;
  width: 100%;
}
.container div:nth-child(6){
  background-color: red;
  width: 100%;
}
.container div:nth-child(7){
  background-color: red;
  width: 100%;
}
.container div:nth-child(8){
  background-color: red;
  width: 100%;
}
.container div:nth-child(9){
  background-color: red;
  width: 100%;
}
.container div:nth-child(10){
  background-color: red;
  width: 100%;
}
.container div:nth-child(11){
  background-color: red;
  width: 100%;
}
.container div:nth-child(12){
  background-color: red;
  width: 100%;
}
.container div:nth-child(13){
  background-color: red;
  width: 100%;
}
.container div:nth-child(14){
  background-color: red;
  width: 100%;
}
.container div:nth-child(15){
  background-color: red;
  width: 100%;
}
.container div:nth-child(16){
  background-color: red;
  width: 100%;
}
.container div:nth-child(17){
  background-color: red;
  width: 100%;
}
.container div:nth-child(18){
  background-color: red;
  width: 100%;
}
.container div:nth-child(19){
  background-color: red;
  width: 100%;
}
.container div:nth-child(20){
  background-color: red;
  width: 100%;
}
.container div:nth-child(21){
  background-color: red;
  width: 100%;
}
.container div:nth-child(22){
  background-color: red;
  width: 100%;
}
.container div:nth-child(23){
  background-color: red;
  width: 100%;
}
.container div:nth-child(24){
  background-color: red;
  width: 100%;
}
.container div:nth-child(25){
  background-color: red;
  width: 100%;
}
.container div:nth-child(26){
  background-color: red;
  width: 100%;
}
.container div:nth-child(27){
  background-color: red;
  width: 100%;
}
.container div:nth-child(28){
  background-color: red;
  width: 100%;
}
.container div:nth-child(29){
  background-color: red;
  width: 100%;
}
.container div:nth-child(30){
  background-color: red;
  width: 100%;
}
.container div:nth-child(31){
  background-color: red;
  width: 100%;
}
.container div:nth-child(32){
  background-color: red;
  width: 100%;
}
.container div:nth-child(33){
  background-color: red;
  width: 100%;
}
.container div:nth-child(34){
  background-color: red;
  width: 100%;
}
.container div:nth-child(35){
  background-color: red;
  width: 100%;
}
.container div:nth-child(36){
  background-color: red;
  width: 100%;
}
